.body {
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    height: 94vh;
    color: white;
}

.bodyDark {
    background-color: rgb(48, 48, 48);
    height: 94vh;
    color: white;
}

body {
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    height: 94vh;
    color: white;
}

/*ROUTERNAV*/

.nav {
    padding: 1rem;
    background-color: rgb(48, 48, 48);
}


.navlink {
    color: white;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navlink:hover {
    background-color: rgb(69, 68, 68);
}

.navlinkActive {
    color: white;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(69, 68, 68);
}

.navapi {
    background-color: rgb(48, 48, 48);
    margin-bottom: none;
    padding-bottom: none;
}
.darkmodebutton {
    border-style: solid;
    border-color: white;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
}
.darkmodebutton:hover {
    background-color: rgb(218, 218, 218);
    border-color: rgb(218, 218, 218);
    cursor: pointer;
}

/*HOME PAGE*/

.title {
    text-align: center;
}


.homemain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.aboutme {
    padding-left: 2rem;
}

.homeskills {
    grid-area: 1 / 1 / 3 / 2;
    padding: 1rem;
}

.homeskillscomp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
}

.homeskillscompimg {
    grid-row: 1 / 2;
}

.homeskillscomptext {
    grid-row: 1 / 2;
    text-align: center;
    margin: auto;
}

.homeprojects {
    grid-area: 1 / 2 / 3 / 3;
    text-align: center;
}
.homerandomprojectbutton {
    border-style: solid;
    border-color: white;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.homerandomprojectbutton:hover {
    background-color: rgb(218, 218, 218);
    border-color: rgb(218, 218, 218);
    cursor: pointer;
}

/* CONTACT */

.contactinfo {
    text-align: center;
}

.contactform {
    text-align: center;
    border-style: solid;
    border-radius: 2rem;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
}

.contactforminput {
    width: 49%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 50px;
    border-style: none;
}

.contactformtextarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    resize: none;
    border-style: none;
}

.contactformsubmit {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: white;
    border-radius: 50px;
    border-style: none;
}

.contactformsubmit:hover {
    background-color: rgb(218, 218, 218);
    border-color: rgb(218, 218, 218);
    cursor: pointer;
}

/*PROJECTS*/
h1  {
    text-align: center;
}
.projectsflexbox {
    display: grid;
    grid-template-rows: 4fr;
    border-style: solid;
    border-radius: 2rem;
    border-color: white;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10vh;
    justify-content: center;
}

.projectsflexobject {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 20rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
}
.projectsflexobject:hover {
    background-color: rgb(218, 218, 218);
    border-color: rgb(218, 218, 218);
    cursor: pointer;
}